@model List<TestimonialViewModal>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Referans adi </th>
        <th>Referans gorsel </th>
        <th>Referans Unvan</th>
        <th>Sil</th>
        <th>Guncelle</th>
     
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TestimonialID</td>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td>
                <a asp-action="DeleteTestimonial" asp-controller="Testimonial" asp-route-id="@item.TestimonialID" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a>
            </td>
            <td>
                <a asp-action="EditTestimonial" asp-controller="Testimonial" asp-route-id="@item.TestimonialID" class="btn mb-1 btn-rounded  btn-outline-primary">Guncelle</a>
            </td>
            <td>
                <a asp-action="DetailsTestimonial" asp-controller="Testimonial" asp-route-id="@item.TestimonialID" class="btn mb-1 btn-rounded btn-outline-info">Detaylar</a>
            </td>
        </tr>
    }

</table>

<a href="/Testimonial/CreateTestimonial" class="btn btn-info">Yeni Referans Grisi</a>