@model List<ResultRoomDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int counter = 1;
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Room Number</th>
        <th>Room Image</th>
        <th>Room Price</th>
        <th>Room Title</th>
        <th>Bed Count</th>
        <th>Bath Count</th>
        <th>wifi</th>
        <th>Description</th>
        <th>Delete</th>
        <th>Update</th>
    
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@counter</td>
            <td>@item.RoomNumber</td>
            <td>@item.RoomCoverImage</td>
            <td>@item.Price</td>
            <td>@item.Title</td>
            <td>@item.BedCount</td>
            <td>@item.BathCount</td>
            <td>@item.wifi</td>
            <td>@item.Description</td>
            <td>
                <a asp-action="DeleteRoom" asp-controller="AdminRoom" asp-route-id="@item.RoomID" class="btn mb-1 btn-rounded btn-outline-danger">Delete</a>
            </td>
            <td>
                <a asp-action="EditRoom" asp-controller="AdminRoom" asp-route-id="@item.RoomID" class="btn mb-1 btn-rounded  btn-outline-primary">Update</a>
            </td>
         
        </tr>
        counter++;
    }

</table>

<a href="/AdminRoom/CreateRoom" class="btn btn-info">Create New Room</a>